.container {
    padding-top: 300px;
    text-align: center;
}

.wrapper .button-pink {
    background-color: pink;
    border-radius: 5px;
    padding: 10px;
}

.wrapper .button-red {
    background-color: red;
    border-radius: 5px;
    padding: 10px;
}

.wrapper .button-purple {
    background-color: purple;
    border-radius: 5px;
    padding: 10px;
}

.wrapper .button-yellow {
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
}

.wrapper .button-blue {
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
}