    .header {
        width: 600px;
        height: 520px;
        background-color: rgb(207, 206, 204);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
    #contact {
        text-align: center;
        padding: 6px;
        font-family: Arial;
        font-size: 20px;
    }
    
    input[type=text],
    select,
    form {
        width: 100%;
        padding: 8px 15px;
        margin: 6px 0;
        display: inline-block;
        border: 0px solid#ccc;
        border-radius: 4px;
        box-sizing: border-box;
        /* border: 1px solid rgb(211, 205, 205); */
        background-color: rgb(247, 247, 243);
    }
    
    input[type=placeholder],
    form {
        background-color: rgb(228, 228, 235);
        /* display: flex; */
    }
    /*   */
    
    input[type=submit] {
        width: 525px;
        background-color: rgb(8, 4, 3);
        color: rgb(247, 247, 243);
        padding: 12px 12px;
        margin: 10px 10px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: rgb(75, 75, 67);
        appearance: none;
    }
    
    div {
        border-radius: 5px;
        background-color: rgb(248, 240, 248);
        padding: 20px;
    }